{% extends 'email_base.html' %}
{% block content %}
<div class="header">
  <strong class="email-title">
  </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 50px">
  <p class="content">
    کاربر گرامی!
    <br/>
    درخواست لغو {{platform}} با موفقیت ثبت شد. دارایی از ساعت ۱۵ {{release_day}} در جریان آزادسازی قرار خواهد گرفت و پس از اتمام دوره آزادسازی به کیف پول شما واریز خواهد شد. شما می‌توانید از بخش طرح‌های من، سربرگ در انتظار، از آخرین وضعیت و زمان آزادسازی دارایی خود آگاهی کسب کنید.
    <br/>
    <br/>
  </p>
</div>
{% endblock %}
