{% extends 'email_base.html' %}
{% block content %}
<div class="header">
  <strong class="email-title">
  </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 50px">
  <p class="content">
    کاربر گرامی!
    <br/>
    مدت زمان طرح {{platform}} شما به پایان رسید و پاداش طرح با درصد بازده سالانه (APR) برابر {{realized_apr}} درصد به میزان {{amount}} {{currency}}
    به کیف پول شما واریز شد. با توجه به فعال بودن تمدید خودکار طرح {{platform}} شما این طرح
    برای یک دوره‌ی دیگر فعال شد. جهت پیگیری وضعیت به پنل {{platform}} خود مراجعه نمایید.
    <br/>
    <br/>
  </p>
</div>
{% endblock %}
