{% extends 'email_base.html' %} {% load nobitex %} {% block content %}
<div class="header">
  <strong class="email-title"> {{email_title}} </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 50px">
  <p class="content">
    کاربر گرامی,
    <br />
    <br />
    موجودی شما برای فعالسازی اشتراک سوشال ترید، کافی نمی‌باشد. برای افزایش
    موجودی و فعال‌سازی اشتراک به پنل کاربری مراجعه نمایید.
    <br />
    <br />
    تریدر: {{nickname}}
    <br />
    هزینه اشتراک: {{subscription_fee}}
  </p>
</div>
{% endblock %}
