{% extends 'email_base.html' %}
{% load static %}
{% block content %}
<div class="header">
  <div>
    <img id="success-image" src="https://cdn.nobitex.ir/email/tick-icon.png"/>
  </div>
  <strong class="email-title"> تغییر گذرواژه </strong>
</div>
<div style="margin: 20px; margin-bottom: 100px" class="content">
  کاربر گرامی!
  <br/>
  <br/>
  گذرواژه‌ی حساب کاربری شما با موفقیت تغییر کرد.
  <br/>
  <br/>
  برای حفظ امنیت دارایی‌های شما، تا ۲۴ ساعت آینده هیچ برداشت رمزارزی از حساب کاربری شما تایید نخواهد شد.
  <br/>
  <table style="width: 100%; padding: 1.84% 13.83% 0 13.14%">
    <tbody>
    <tr>
      <th style="padding: 0">
        <p class="text-right">آدرس اینترنتی</p>
      </th>
      <td style="padding: 0">
        <p style="text-align: left">{{ ip }}</p>
      </td>
    </tr>
    <tr>
      <th style="padding: 0">
        <p class="text-right">زمان</p>
      </th>
      <td style="padding: 0">
        <p style="text-align: left">{{ date }}</p>
      </td>
    </tr>
    <tr>
      <th style="padding: 0">
        <p class="text-right">دستگاه</p>
      </th>
      <td style="padding: 0">
        <p style="text-align: left">{{ device }}</p>
      </td>
    </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  درصورتی که این درخواست از سمت شما نبوده؛ لطفا هرچه سریع‌تر گذرواژه‌ی خود را تغییر داده و با پشتیبانی نوبیتکس تماس
  بگیرید.
  <br/>
  <br/>
  {% if emergency_cancel_url %}
  همچنین می‌توانید از طریق لینک زیر برداشت‌های خود را مسدود کنید:
  <br/>
  <br/>
  <a class="btn-danger" href="{{ emergency_cancel_url }}">لغو اضطراری برداشت</a>
  <br/>
  <br/>
  {% endif %}
</div>
{% endblock %}

