{% extends 'email_base.html' %}
{% load static %}
{% block content %}
<div class="header">
  <strong class="email-title">
    بازیابی گذرواژه نوبیتکس
  </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 35px">
  <p class="content">
    کاربر گرامی!
    <br/>
    <br/>
    شما درخواست بازیابی گذرواژه‌ی حساب کاربری خود را کرده‌اید. برای بازیابی و تغییر گذرواژه می‌توانید از لینک زیر
    استفاده کنید:
  </p>
  <a class="content" href="{{domain}}reset-password/?t={{token}}/">
    {{domain}}reset-password/?t={{token}}/
  </a>
  <br/>
  <br/>
  <hr/>
  <br/>
  <p class="content">
    درصورتی که این درخواست از سمت شما نبوده است، نیازی به پاسخگویی به این ایمیل نیست و حساب کاربری شما هیچ تغییری نخواهد
    کرد.
    <br/>
    <br/>
    برای حفظ امنیت حساب کاربری خود، هیچ‌گاه محتوای ایمیل‌های نوبیتکس را در اختیار دیگران قرار ندهید.
  </p>
</div>
{% endblock %}
