{% extends 'email_base.html' %}
{% load static %}
{% block content %}
<div class="header">
  <strong class="email-title">
    غیرفعال‌سازی شناسایی دوعاملی
  </strong>
</div>
<div style="margin-top: 20px;margin-bottom: 50px;">
  <p class="content">
    کاربر گرامی!
    <br/>
    <br/>
    شناسایی دوعاملی حساب کاربری
    {% if isTestnet %} شبیه‌ساز{% endif %}
    شما با موفقیت غیرفعال شد. برای حفظ امنیت دارایی‌های شما، تا ۲۴ ساعت آینده هیچ برداشت رمزارزی از حساب کاربری شما
    تایید نخواهد شد.
    <br/>
    <br/>
    درصورتی که این درخواست از سمت شما نبوده؛ لطفا هرچه سریع‌تر گذرواژه‌ی خود را تغییر داده و با پشتیبانی نوبیتکس تماس
    بگیرید.
  </p>
</div>
{% endblock %}
