{% extends 'email_base.html' %}
{% load static %}
{% block content %}
<div class="header">
  <strong class="email-title">
    احرازهویت نوبیتکس | تعیین رمزعبور
  </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 50px">
  <table style="width: 100%; padding: 1.84% 13.83% 0 13.14%">
    <tbody>
    <tr>
      <th style="padding: 0">
        <p style="float: right">کد یکبار مصرف برای تعیین رمزعبور در حساب کاربری نوبیتکس:</p>
      </th>
      <td style="padding: 0">
        <p id="otp" style="float: left">{{otp}}</p>
      </td>
    </tr>
    </tbody>
  </table>
  <hr/>
  <p class="content">
    درصورتی که این درخواست از سمت شما نبوده، با پشتیبانی نوبیتکس تماس بگیرید. همچنین پیشنهاد می‌کنیم تنظیمات امنیتی و تاریخچه‌ی ورود خود را بررسی کنید.
  </p>
</div>
{% endblock %}
