{% extends 'email_base.html' %}
{% load nobitex %}
{% block content %}
<div class="header">
  <strong class="email-title">
    مشارکت شما در استخر
    {{ currency|currencyformat:True }}
    لغو شد
  </strong>
</div>
<div style="margin-top: 20px; margin-bottom: 50px">
  <p class="content">
    کاربر گرامی!
    <br />
    <br />
    لغو مشارکت شما در استخر
    {{ currency|currencyformat:True }}
    به میزان
    {{ amount }}
    در تاریخ
    {{ settled_at|shamsidateformat }}
    با موفقیت انجام و به کیف پول شما در نوبیتکس واریز شد. جهت کسب اطلاعات بیشتر لطفا به پنل کاربری خود در نوبیتکس و بخش
    استخر مشارکت مراجعه فرمایید.


  </p>
</div>
{% endblock %}
