{% extends 'email_base.html' %}
{% load nobitex %}
{% block content %}
  <div class="header">
    <strong class="email-title">
      غیرفعال‌سازی حالت برداشت امن
    </strong>
  </div>
  <div style="margin-top: 20px; margin-bottom: 50px">
    <p class="content">
      کاربر محترم نوبیتکس،
      <br/>
      <br/>
      حالت برداشت امن حساب کاربری شما غیرفعال شد.
      <br/>
      برداشت از حساب شما به مدت ۲۴ ساعت محدود خواهد شد
      <br/>
      و پس از آن امکان برداشت از حساب شما به هر آدرسی امکان پذیر خواهد بود.
    </p>
  </div>
{% endblock %}
