{% extends 'email_base.html' %}
{% block content %}
  <div class="header">
    <strong class="email-title">
      هشدار آستانه تبدیل اعتبار ریالی
    </strong>
  </div>
  <div style="margin-top: 20px; margin-bottom: 50px">
    <p class="content">
      کاربر گرامی،
      <br/>
      <br/>
      با توجه به کاهش ارزش دارایی رمزارزی شما، وثیقه در نظر گرفته شده برای سرویس اعتبار ریالی در آستانه تبدیل قرار گرفته است.
      <br/>
      در صورت کاهش بیشتر ارزش دارایی های رمزارزی شما جهت حفظ ارزش به ریال تبدیل خواهد شد. در صورت تمایل هرچه سریعتر برای افزایش وثیقه اقدام فرمایید.
    </p>
  </div>
{% endblock %}
