{% extends 'ebase.html' %}

{% block content %}
<div class="text-center rtl-div">
{% if status == 'limited' %}
    <h2>محدودیت در برداشت</h2>
    <p>برداشت به دلیل وجود محدودیت (روزانه، ماهانه یا ...) امکان پذیر نمی باشد.</p>
{% elif status == 'shaba_limited' %}
    <h2>محدودیت در برداشت روزانه از یک حساب</h2>
    <p>این برداشت، به دلیل وجود محدودیت برداشت روزانه از یک حساب تا سقف ۱۰۰ میلیون تومان، امکان پذیر نمی باشد.</p>
{% else %}
    <h2>پیوند نامعتبر است</h2>
    <p>آدرس پیوندی که کلیک کرده‌اید، نامعتبر است. لطفاً برای تایید برداشت خود دوباره تلاش نمایید یا با پشتیبانی در تماس باشید.</p>
{% endif %}
</div>
{% endblock %}
