{% extends 'email_base.html' %}
{% block content %}
  <div class="header">
    <strong class="email-title">
      تبدیل دارایی در سرویس اعتبار ریالی
    </strong>
  </div>
  <div style="margin-top: 20px; margin-bottom: 50px">
    <p class="content">
      کاربر گرامی،
      <br/>
      <br/>
      با توجه به کاهش ارزش دارایی وثیقه شما و عبور از آستانه تبدیل، به جهت حفظ ارزش، فرآیند تبدیل وثیقه به ریال به قیمت مارکت انجام شده است.
      <br/>
      <br/>
      وثیقه ریالی شما تا زمان تسویه یا لغو طرح های اعتبارریالی فعال، قابل آزادسازی نخواهد بود.
      <br/>
      <br/>
      امکان ادامه طرح اعتبارریالی تا زمان سررسید اقساط وجود داشته و میتوانید پس از تسویه در موعدهای مقرر، اقدام به برداشت وثیقه ریالی خود نمایید.
    </p>
  </div>
{% endblock %}
